# --- Data & Models ---
data/*
!data/.gitkeep
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
*.csv
*.txt
models/*.pth
models/*.pt
models/**/*.pb
models/*.onnx
weights/

# --- Python & UV ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
venv/

# --- IDE settings ---
.vscode/
.idea/

# --- Logs ---
outputs/
runs/
*.log
src/*.egg-info/
