# --- Data & Models ---
data/*
!data/.gitkeep
*.mp4
*.avi
*.mov
*.jpg
*.png
*.pt
models/*.pth
models/*.pt
models/*.onnx
models/*/*.pb
weights/

# --- Python & UV ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
venv/

# --- IDE settings ---
.vscode/
.idea/

# --- Logs ---
outputs/
runs/
*.log
